page-login {
    
    .vertical-align-content{
        display: flex;
        align-content: center!important;
        align-items: center!important;
        margin-top: 120px;
    }

    .login-button{
        background: #da2868;
        color: wihte;
        margin-top: 15px;
        width: 250px;
    }
}
