<ion-content text-center class="vertical-align-content">
    <img src="../../assets/imgs/kreator_transparent_color.png" style="width: auto;"/>
  
    <form (submit)="login()" >
      <ion-item>
          <ion-label floating>Username / Email</ion-label>
          <ion-input [(ngModel)]="loginData.username" name="username" type="text"></ion-input>
      </ion-item>
      
      <ion-item>
          <ion-label floating>Password</ion-label>
          <ion-input [(ngModel)]="loginData.password" name="password" type="password"></ion-input>
      </ion-item>
  
      <button ion-button type="submit" class="login-button">Masuk</button>
    </form>
  </ion-content>