<!--
  Generated template for the RegisterPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content text-center class="vertical-align-content">
  <img src="../../assets/imgs/kreator_transparent_color.png" style="width: auto;"/>

  <form (submit)="register()" >
    <ion-item>
      <ion-label floating>Username</ion-label>
      <ion-input [(ngModel)]="registerData.username" name="username" type="text"></ion-input>
    </ion-item>

    <ion-item>
        <ion-label floating>Email</ion-label>
        <ion-input [(ngModel)]="registerData.email" name="email" type="email"></ion-input>
    </ion-item>
    
    <ion-item>
        <ion-label floating>Password</ion-label>
        <ion-input [(ngModel)]="registerData.password" name="password" type="password"></ion-input>
    </ion-item>

    <button ion-button type="submit" class="register-button">Daftar</button>
  </form>
  <div class="login-link-class">Sudah punya akun? <a (click)="goToLogin()">Masuk sekarang</a></div>
  <ion-item-divider></ion-item-divider>
</ion-content>
