page-register {
    .vertical-align-content{
        display: flex;
        align-content: center!important;
        align-items: center!important;
        margin-top: 120px;
    }

    .register-button{
        background: #da2868;
        color: wihte;
        margin-top: 15px;
        width: 250px;
    }

    ion-content a{
        color: #da2868;
    }

    .login-link-class{
        margin-top: 10px;
        text-align: center;
    }
}
