<!--
  Generated template for the DashboardPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar [hideBackButton]="true" style="background: #da2868;">
    <div class="searchbar-region">
      <ion-searchbar placeholder="Cari Komisi / Karya"></ion-searchbar>
    </div>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-infinite-scroll>
      Lorem ipsum dolor sit amet, natum populo constituto pro eu, nam partiendo suavitate ea, no temporibus vituperatoribus vis. Electram patrioque voluptatum ut nec. Est reque postulant ne, et mel oblique periculis assueverit. Eu pro summo apeirian.

      Omnes deterruisset his ne, probo accusam delicata eum at. Has cu minim laboramus dissentiet. His et laboramus assueverit, no euripidis theophrastus eum. At natum accumsan quaestio mel, mutat facilisi qui in. Eum porro dictas eu, cu nec saepe nostrum iracundia. Cu pri consulatu efficiendi.
      
      Suscipit reprimique definitiones nec eu. Has eu aliquid detraxit dissentias, veniam partiendo vulputate cu vim. Sed nullam nostrud ea. Ut est docendi tractatos pertinacia, et qui dicant eirmod.
      
      At veniam utinam per, eam ad disputando delicatissimi. Graecis dissentias est eu. Sale perpetua an quo, mea diceret vivendo an, clita graeci voluptua in quo. Illum antiopam sea ad, eu sale epicurei mel. Sit utinam partiendo ad. Est cibo postulant voluptaria et.
      
      Mel erant placerat an, ne sed aperiri appareat evertitur. Tale partem singulis vel ei, docendi mediocritatem in vis. No nec eius euripidis, eu sed alii libris. An vis civibus expetendis, ei vero tollit vel. Ut his numquam constituto, at vix rebum assum. Eu dico alia postulant mel, vitae detracto nominati vim ea, agam veritus disputationi id sed. Ex vis doctus impedit disputando, pro summo tollit splendide eu.
  </ion-infinite-scroll>
</ion-content>

<ion-footer>
  <ion-toolbar>

  </ion-toolbar>
</ion-footer>
