page-intro-slider {
    .vertical-align-center{
        display: flex;
        align-content: center!important;
        align-items: center!important;
    }

    .swiper-pagination-bullet-active{
        background: white;
    }

    .start-button{
        margin-top: 250px;
        color: #da2868;
    }
}
