<ion-content>
  <ion-slides centeredSlides="true" pager="true">
    <ion-slide style="background: #da2868; color: #fff;">
      <h1>Kreatorku</h1>
      <button ion-button (click)="login()" color="light" class="start-button">Mulai</button>
    </ion-slide>
      
    <ion-slide style="background: #da2868; color: #fff;">
      <h1>Kreatorku</h1>
      <button ion-button (click)="login()" color="light" class="start-button">Mulai</button>
    </ion-slide>

    <ion-slide style="background: #da2868; color: #fff;">  
      <button ion-button (click)="login()" color="light" class="start-button">Mulai</button>
    </ion-slide>
  </ion-slides>
</ion-content>